services:
  postgres:
    image: 'postgres:17.5'
    container_name: yummify-postgres
    environment:
      - 'POSTGRES_DB=yummify'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=dev'
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./postgres/init-keycloak-schema.sql:/docker-entrypoint-initdb.d/init-keycloak-schema.sql

  keycloak:
    image: yummify/keycloak:0.0.1
    container_name: yummify-keycloak
    command: start-dev
    environment:
      KC_HOSTNAME: localhost
      KC_HOSTNAME_PORT: 8080
      KC_HOSTNAME_STRICT_BACKCHANNEL: false
      KC_HTTP_ENABLED: true
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_HEALTH_ENABLED: true
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres/yummify?currentSchema=keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak_password
      JAVA_OPTS: "-Dorg.keycloak.logger.level=DEBUG -Dquarkus.log.category.\"org.keycloak.authentication\"=DEBUG -Dquarkus.log.category.\"org.keycloak.services\"=DEBUG"

    ports:
      - "8080:8080"
    restart: always
    volumes:
      - ./keycloak/providers:/opt/keycloak/providers
    depends_on:
      - postgres

  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    environment:
      - MINIO_ROOT_USER=root
      - MINIO_ROOT_PASSWORD=password
    command: server /data --console-address ":9001"

volumes:
  postgres-data:
    driver: local
  minio_data:

networks:
  default:
    external: true
    name: yummify