.image-picker {
    width: 100%;
    height: 200px;
    border: 2px dashed #a7f3d0;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    margin-bottom: 16px;
    overflow: hidden;
}

.image-preview {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}