.app-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.app-form-fields {
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: auto;
    max-height: 70vh;
}

.app-form-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end
}