.app-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.app-form-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end
}

.form-field {
    display: flex;
    gap: 8px;
    text-align: left;
}

.form-field.top {
    flex-direction: column;
}

.form-field.left {
    flex-direction: row;
    align-items: center;
}