.menu-display {
    display: flex;
    flex-direction: column;
}

.menu-section-bar {
    display: inline-flex;
    background: #a7f3d0;
    padding: 4px;
    border-radius: 999px;
    gap: 4px;
    width: fit-content;
}

.menu-section-bar-item {
    border: none;
    padding: 4px 8px;
    border-radius: 999px;
    cursor: pointer;
    background: transparent;
    color: #111;
}

.menu-section-bar-item.active {
    background: #059669;
    color: white;
}

.menu-entry-list-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-entry-list-element-dish-name {
    text-align: left;
}

.menu-entry-list-element-dish-description {
    text-align: left;
    font-size: 12px;
}