.multiselect.container-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.multiselect.input {
    width: 100%;
    display: block;
}

.multiselect__control {
    border: 2px solid #a7f3d0;
}
