.main-wrapper {
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s;
    margin-left: 0;
}

.main-wrapper.sidebar-open {
    margin-left: 250px;
}

.main-content {
    margin-top: 64px;
}